html {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 30fr 100fr 30fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

h1 {
  background-color: rgb(130, 212, 212);
  border-radius: 10px 0 0 0;
  padding: 50px;
  height: 5%;
  grid-row-start: 0;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 10px;
  padding: 10px;
}

section {
  background: #cce5ff;
  padding: 20px;
  margin-top: 20px;
  grid-column-start: 2;
}

/* format code */
pre {
  font-family: monospace;
  font-size: 12px;
  background: #000000;
  border: 1px solid rgb(157, 156, 156);
  border-radius: 6px;
  padding: 10px;
  margin: 10px 0;
  color: #1cee70;
}
